<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="master" connectionString="host=localhost;Database=cfr;Uid=root;Pwd=123;port=3306;SslMode=none;" providerName="Devart.Data.MySql" />
  </connectionStrings>
</configuration>